<section class="example">
  <h2 class="example__title">Feature example</h2>
  <p class="example__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae qui, voluptatem sed
    asperiores rerum, quia perferendis impedit fuga eveniet ipsa, eum esse consequuntur accusantium
    laudantium unde eaque praesentium exercitationem tenetur at. Placeat, earum? Quod est hic
    eligendi voluptas autem ut vel inventore consequatur, facere officiis dolor animi unde,
    voluptatibus iure!
  </p>
</section>
